
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
 
* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}
body {
    background-color: white;

}

.header, .subheader, .footer{
    background-color: #1F2937;


}
.header {
    display: flex;
    justify-content: space-between;
    height: 75px;
    
}
.name {
    display: flex;
    padding-left: 225px;
    align-items: center;
    justify-content: start;
}
.list {

    display: flex;
    font-weight: 300;

}



.subheader {
    Border: solid 1px red;
    height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    padding-right: 225px;
    height: 225px;
    width: 375px;
}

.texts {
    line-height: 1.3
}
.texts, .subheadertitle{
    color: #F9FAF8;
}
.cool {
    margin-left: 225px;
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 225px;
    justify-content: space-between;
}

button {
    width: 100px;
    font-size: 15px;
    padding: 5px;
    color: white;
    background-color: #3882F6;
    border-radius: 10px;
    border: 2px solid #3882F6;

}

.subheadertitle {
    font-size: 40px;
    font-weight: bolder;
}
.name {
    font-size: 20px;
    font-weight: bolder;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style: none;
    color: #F9FAF8;
    gap: 8px;
    padding: 10px;
    padding-right: 225px;
    justify-content: center;
    align-items: center;
}

.stuff {
    height: 250px;
}
.misc {
    background-color: #E5E7EB;
    height: 250px;
}
.signup {
    height: 125px;
}
.footer {
    height: 75px;
    color: #F9FAF8;
}