
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
}
.header, .subheader, .footer{
    background-color: #1F2937;
}
.header {
    display: flex;
    justify-content: space-between;
    height: 75px;
}
.name {
    display: flex;
    padding-left: 225px;
    align-items: center;
    justify-content: start;
    font-size: 20px;
    font-weight: bolder;
    color: #F9FAF8;
}
.list {
    display: flex;
    font-weight: 300;
}
ul {
    display: flex;
    list-style: none;
    color: #F9FAF8;
    gap: 8px;
    padding: 10px;
    padding-right: 225px;
    justify-content: center;
    align-items: center;
}

.subheader {
    height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cool {
    margin-left: 225px;
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 225px;
    justify-content: space-between;
}
.texts, .subheadertitle{
    color: #F9FAF8;
}
.subheadertitle {
    font-size: 40px;
    font-weight: bolder;
}
.texts {
    line-height: 1.3
}
button {
    width: 100px;
    font-size: 15px;
    padding: 5px;
    color: white;
    background-color: #3882F6;
    border-radius: 10px;
    border: 2px solid #3882F6;
}
.photo {
    padding-right: 225px;
    height: 225px;
    width: 375px;
}

.title {
    text-align: center;
    padding: 50px 0;
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}

.proj {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
    height: 525px;
    margin-top: -136px;
}
.stuff {
    text-align: center;
    max-width: 300px;
    height: 250px;
}
.text {
    font-weight: 300;
    font-size: 24px;
    margin-top: 6px;
}
#im2  {
    height: 250px;
    width: 250px;
}

.misc {
    background-color: #E5E7EB;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.miscText {
    max-width: 800px;
    font-size: 30px;
    font-weight: 300;
}
.quote {
    text-align: end;
    font-weight: bold;
    font-size: 24px;
}

.signup {
    height: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    background-color: #3882F6;
    height: 150px;
    width: 1000px;
    display: flex;  
    align-items: center;    
    justify-content: space-around;
    border-radius: 20px;
    border: 2px solid #3882F6;
}
.two {
    font-size: 20px;
    color: white;
}
.two2 {
    font-size: 16px;
    font-weight: 300;
    color: white;
}
.gh {
    background-color: #3882F6;
    border: 2px solid white;
}

.footer {
    height: 75px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerText {

    font-weight: 300;
}



















